.film-card {
  margin: 10px;
  margin-bottom: 20px;
  width: 250px;
  height: 390px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  cursor: pointer;
}

.film-card:hover > .poster {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.poster {
  width: 250px;
  transform: scale(0.95);
  border-radius: 10px;
}

.film-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
