.ganres-modal-block {
    width: 420px;
    height: 160px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2b5f9a;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    color: black;
    z-index: 4;
    position: absolute;
    top: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}