.moviebase-header {
  margin-bottom: 5px;
  padding: 5px;
  height: 50px;

  position: sticky;
  z-index: 3;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1a5d8d;
  color: #e2f1ff;
}

.moviebase-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  margin-right: 5px;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.moviebase-navigation-block {
  padding: 5px;
  margin: 0;

  width: 50%;
  height: 80%;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-search-input {
  padding-left: 20px;
  width: 280px;
  height: 30px;
  color: #fff;
  background-color: #4982B9;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
}

.header-search-input:focus {
  outline: none;
}

.header-search-input::placeholder {
  font-weight: bold;
  opacity: .5;
  color: #fff;
}