.App {
    height: 100%;
    background-color: #e4e5e9;
}


.moviebase-greeting-block {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 2;

    background-color: #DDE8FB;
}