.film-list-element {
    height: 400px;
    margin: 5px;
    min-width: 98%;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    background-color: #d3e1ee;
}



.film-list-element:hover>.poster {
    transform: scale(1.06);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    z-index: 1;
}


.list-element-description {
    width: 840px;
    display: flex;
    flex-direction: column;
    color: #000;
    padding: 20px;
}

.list-element-description > h4 {
    color: #858585;
}

.element-description-overwiev {
    height: 80%;
    margin-top: 30px;
    font-size: 22px;
}