.moviebase-fogot-password-block {
    padding-top: 50px;

    height: calc(100vh - 110px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.fogot-password-email-input {
    width: 20%;
}